* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 500px;
    width: 500px;
    background-color: rgb(250, 223, 188);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
h1{
    font-size: 50px;
}
h4{
    font-size: 30px;
    color: red;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #1877F2;
    font-size: x-large;
    color: white;
}
button:after{
    scale: 1;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}