
#img1{
    height: 300px;
    
    

 }
 #img2{
    height: 300px;
    overflow: hidden;

 }
 button{
    height: 30px;
    width: 80px;
    color: aqua;
    position: relative;
    z-index: 8;
    background-color: burlywood;
 }